    <!--Main Footer-->
    <footer class="main-footer" style="background-image:url(assets/images/background/4.png);">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-7 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget about-widget">
									<h2>{{'About_Us'|translate}}</h2>
                                    <div class="text">
                                    	<p>{{'aboutUs'|translate}}</p>
                                        <p>{{'scope_of_work'|translate}}</p>
                                    </div>
								</div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
									<h2>{{'Usefull_Links'|translate}}</h2>
                                    <div class="widget-content">
                                    	<div class="row clearfix">
                                        	<div class="col-md-6 col-sm-6 col-xs-12">
                                            	<ul class="footer-links">
                                                	<li><a ng-click="goTopage('/home')">{{'home'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/skoda/models')">{{'skoda_models' | translate}}</a></li>
                                                    <li><a ng-click="goTopage('/skoda/spare_parts')">{{'skoda'|translate}} {{'spare_parts'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/skoda/services')">{{'skoda'|translate}} {{'service_center'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/toyota/models')">{{'toyota_models' | translate}} </a></li>
                                                    <li><a ng-click="goTopage('/toyota/spare_parts')">{{'toyota'|translate}} {{'spare_parts'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/toyota/services')">{{'toyota'|translate}} {{'service_center'|translate}}</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            	<ul class="footer-links">
                                                    <li><a ng-click="goTopage('/cars/buy')">{{'buy' | translate}}</a></li>
                                                    <li><a ng-click="goTopage('/cars/compare')" >{{'VEHICLE_COMPARE' | translate}}</a></li>
                                                    <li><a href="#">{{'exchange'|translate}}</a></li>
                                                    <li><a ng-click="goTopage('/contact')">{{'contact_us' | translate}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-5 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                        	<!--Footer Column-->
                            <div class="footer-column col-md-12 col-sm-12 col-xs-12">
                                <div class="footer-widget links-widget">
									<h2>{{'Contact_Details'|translate}}</h2>
                                    <div class="widget-content">
                                    	<ul class="list-style-one">
                                        	<li><span class="icon flaticon-maps-and-flags"></span>{{'address'|translate}}</li>
                                            <li><span class="icon flaticon-telephone"></span> +20106 756 0150</li>
                                            <li><span class="icon flaticon-web"></span>Info@albargasy.com</li>
                                        </ul>
                                    </div>
                                    <h2>{{'Working_Hours'|translate}}</h2>
                                    <div class="text">{{'All_dayes'|translate}}  08.00 am {{'to'| translate}} 18.00pm</div>
                                </div>
                            </div>
                        
                        	
                        
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="row clearfix">
                	<div class="col-md-6 col-sm-6 col-xs-12">
                    	<div class="copyright">Copyrights © 2018 All Rights Reserved by <a href="#">AlBargasy Automotive.</a></div>
                    </div>
                    <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                    	<ul class="footer-nav">
                        	<li><a ng-click="goTopage('/skoda/models')">Skoda</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Policies</a></li>
                            <li><a href="#">Buy</a></li>
                            <li><a href="#">Sell</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </footer>
    <!--End Main Footer-->
</div>
    <!--Scroll to top-->
<div id="goUpButton" class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-up"></span></div>
